/*--ACOMODANDO-MARGENES-PADDING--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans";
}
/*--IMAGEN-DE-FONDO--------------*/
body {
  background-image: url(../Images/fond.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 15px;
}
/*--FORMULARIO-------------------*/
.form {
  width: 450px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  background: rgba(15, 50, 72, 0.3);
  border-radius: 5px;
}
/*--TITULO-----------------------*/
.titre {
  color: #1610c2;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}
/*--CAJAS-DE-DATOS---------------*/
.inputs {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: none;
  border-left: 10px solid #d9e4ea;
  transition: all 0.5s ease;
}
.inputs:hover,
.inputs:focus {
  border-left: 10px solid #1a4c7e;
}

/*--BOTON-DE-REGISTRARSE---------*/
.btn {
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  border: none;
  margin: 20px 0;
  font-size: 15px;
  background: #225677;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #133043;
}

li {
  color: #020005;
  font-size: 20px;
  font-family: Garamond;
  text-align: center;
  text-transform: capitalize;
  text-decoration: #225677;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
}

th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}

td {
  padding: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}

tr:hover td {
  background: #d0dafd;
  color: #339;
}
