/*--ACOMODANDO-MARGENES-PADDING--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans";
}
/*--IMAGEN-DE-FONDO--------------*/
body {
  background-image: url(../Images/fond.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 15px;
}
/*--FORMULARIO-------------------*/
.form {
  width: 450px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  background: rgba(15, 50, 72, 0.3);
  border-radius: 5px;
}
/*--TITULO-----------------------*/
.titre {
  color: #022041;
  margin-bottom: 20px;
}
/*--CAJAS-DE-DATOS---------------*/
.inputs {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: none;
  border-left: 10px solid #d9e4ea;
  transition: all 0.5s ease;
}
.inputs:hover,
.inputs:focus {
  border-left: 10px solid #1a4c7e;
}

/*--BOTON-DE-REGISTRARSE---------*/
.btn {
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  border: none;
  margin: 20px 0;
  font-size: 15px;
  background: #225677;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #133043;
}

li {
  color: rgb(222, 47, 190);
  font-size: 30px;
  font-family: Garamond;
  text-align: center;
  text-transform: capitalize;
}
